<template>
  <q-page class="flex-center fondo-gradiente">
    <br>
    <div class="Contenedor-principal">
      <div class="text-h4 swg-EtiqPrin">{{ saludos }}</div>
      <div class="q-pa-md row items-start q-gutter-md">
        <!-- Se comienzan a crear los card -->
        <!-- Recorre el arreglo para ir creando el componente -->
        <q-card dark class="my-card" v-for="link in linkMGusta" :key="link.title">
          <!-- Se llaman funciones que permiten cambiar el color al posicionarse a un elemento card -->
          <q-card-section @mouseout="restauraColor" @mouseover="cambiaColor">
            <div class="row">
              <div class="Imagen col-sm-3">
                <!-- Se obtiene la ruta de las imagenes de cada uno de los elementos creados por medio de la interpolación -->
                <q-icon :name="link.icon" class="Img-list" />
              </div>
              <!-- Se realiza la interpolación para obtener el titulo  -->
              <div class="swg-TextoT col-sm-6"> <q-card-label>{{ link.title }}
                </q-card-label>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>

    <!-- Diseño de la lista sugerida a reproducir -->
    <div class="Contenedor-viaje">
      <div class="row">
        <div class="Textviaje col-sm-6">
          <div class="text-h6 swg-Color-Title">De viaje por México</div>
        </div>
        <div class="col-sm-6 text-right">
          <div class="text-subtitle2 swg-TextMostrar">MOSTRAR TODO</div>
        </div>
      </div>
      <!-- Se comienzan a crear los card -->
      <div class="q-pa-md row items-start q-gutter-md">
        <q-card dark class="swg-ListaSugerida" v-for="Sugerida in ListaSugerida" :key="Sugerida.TituloSug">
          <q-img :src="Sugerida.imagen" class="swg-Image-list1" />
          <q-card-section>
            <!-- Se obtienen por interpolación el titulo y subtitulo de cada elemento creado -->
            <div class="text-h6 swg-TituloSub">{{ Sugerida.TituloSug }}</div>
            <div class="text-subtitle2 swg-SubTitulo">{{ Sugerida.SubTS }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import {
  defineComponent, ref, //defineListasSugeridas
} from 'vue'
import EssentialLink from "components/EssentialLink.vue";

export default defineComponent({
  name: 'IndexPage',

  setup() {
    const leftDrawerOpen = ref(false);
    const saludos = ref("");
    return {
      saludos,//Se retorna el saludo
      linkMGusta: linksList, //Arreglo con los objetos de los card que se crearan
      ListaSugerida: linkListaSug, //Arreglo con los objetos de los card que se crearan
      CambiaSaludo() {//Función que muestra el saludo, dependiendo de la hora del sistema
        var hora = new Date().getHours(); //Se obtiene la hora el sistema
        var estadodia = "";
        //Se valida si la hora esta en esos rangos para poder retornar el saludo correspondiente
        (hora >= 0 && hora < 12) ? estadodia = "Buenos dias" : (hora >= 12 && hora <= 17) ? estadodia = "Buenas tardes" : estadodia = "Buenas noches"
        saludos.value = estadodia;//Se retorna el valor del saludo
      },
      cambiaColor() {
        /*Mouse Over - Cambia color al pasar sobre el elemento*/
        var arreglo = [//Arreglo con los colores que debe de cambiar al posicionarse en uno de los elementos Card
          "#0c322b",
          "#3e0621",
          "#63293c",
          "#5a4e23",
          "#0c322b",
          "#1c0e3c",
        ];
        var aleatorio = arreglo[Math.floor(Math.random() * arreglo.length)];//Elije el color aleatoriamente
        document.documentElement.style.setProperty("--color-principal", aleatorio);
      },
      restauraColor() {
        /*Mouse Out - Cambia color al pasar sobre el elemento*/
        document.documentElement.style.setProperty(
          "--color-principal",
          "#1c0e3c"
        );
      },
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
  created() {//Se ejecuta función al crear el diseño (Ciclo e vida de inicio de creación)
    /*Se ejecuta funcion para poder asignar estado del dia*/
    this.CambiaSaludo();
  },
})

//Arreglo que construye los card con los objetos necesarios a mostrar en la lista de reproducciones sugeridas y me gustan
const linksList = [
  {
    title: "Canciones que te gustan",
    caption: "",
    icon: "img:icons/CorazonG.png",
    link: "#",
  },
  {
    title: "Fiesta",
    caption: "",
    icon: "img:icons/Fiesta.png",
    link: "#",
  },
  {
    title: "Mañanitas",
    caption: "",
    icon: "img:icons/Mañanitas.png",
    link: "#",
  },
  {
    title: "Favorita",
    caption: "",
    icon: "img:icons/Fav.png",
    link: "#",
  },
  {
    title: "Cumbia",
    caption: "",
    icon: "img:icons/Cumbia.png",
    link: "#",
  }, {
    title: "Bandas para bailar",
    caption: "",
    icon: "img:icons/Banda.png",
    link: "#",
  },
]

const linkListaSug = [
  {
    TituloSug: "Mamivan",
    SubTS: "Tus canciones favoritas te acompañan a todos lados.",
    imagen: "Imagenes/Mamivan.png",
  },
  {
    TituloSug: "Mexican party",
    SubTS: "Your favorite Mexican.",
    imagen: "Imagenes/Mexican.png",
  },
  {
    TituloSug: "Karaoke en español",
    SubTS: "Saca la estrella que llevas dentro.",
    imagen: "Imagenes/Karaoke.png",
  },
  {
    TituloSug: "Viejitas pero bonitas",
    SubTS: "Tus canciones favoritas te acompañan a todos lados.",
    imagen: "Imagenes/Bonitas.png",
  },
  {
    TituloSug: "Amor tóxico",
    SubTS: "Nos vamos a querer o ahi la dejamos.",
    imagen: "Imagenes/AmorTox.png",
  },
]
</script>
