<template>
  <q-item clickable tag="a" target="_blank" :href="link">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
      <q-img :src="imagen" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
      <!-- Se agregaron nuevos elementos, ya que el arrelo los contiene -->
      <q-item-label>{{ TituloSug }}</q-item-label>
      <q-item-label SubTS>{{ SubTS }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    },

    TituloSug: {
      type: String,
      required: true
    },

    SubTS: {
      type: String,
      default: ''
    },
    imagen: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
  }
})
</script>
