// app global css in SCSS form
:root {
  --color-principal: #1c0e3c;
}
//Estilos para HEADER Principal
.header-image {
  height: 40px;
  width: 40px;
}

.header-border {
  background: var(--color-principal);
}

.fondo-gradiente {
  background: linear-gradient(var(--color-principal), $dark-page, $dark-page);
}
.color-menu-dropdown {
  background: #282828;
}
.button-menu-dropdown {
  background: #090414;
}
.button-menu-dropdown:hover {
  background: #282828;
}
.icono-user {
  margin-right: 15px;
  background: #535353;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}
.btn-ira {
  width: 31px;
  height: 29px;
}
div [role="menu"] {
  top: 64px !important;
}
.ocultar-contenedor {
  width: auto;
  display: none;
}
@media (min-width: 1200px) {
  .ocultar-contenedor {
    display: block;
  }
}
//Final de clases del HEADER/

//Inicio de clases del FOOTER/
.style-footer {
  background: #181818;
  height: 90px;
}
.footer-player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}
.icon-top {
  margin-top: 10px;
}
.iconcorazon-s1 {
  margin-top: 20px;
}
.iconcorazon-s1 img {
  width: 35px;
  height: 26px;
}
.cont-1-aleatorio {
  margin-left: 30%;
  margin-top: 10px;
}
.cont-2-aleatorio {
  margin-left: 17px;
  margin-top: 10px;
}
.cont-3-aleatorio {
  margin-left: 17px;
  margin-top: 5px;
}
.cont-3-aleatorio img {
  width: 45px;
  height: 40px;
}
.c-proceso {
  margin-top: -13px;
}
.style-seccion-3 {
  margin-top: 30px;
  margin-left: 0%;
  flex-wrap: nowrap;
}
@media (min-width: 800px) {
  .style-seccion-3 {
    margin-top: 30px;
    margin-left: 0%;
  }
}
@media (min-width: 1300px) {
  .style-seccion-3 {
    margin-top: 30px;
    margin-left: 33%;
  }
}
.s3-e-controls {
  margin-left: 2px;
}
//Fin de clases del FOOTER/

// Estilos para el componente Drawer
.Drawer-estile {
  background-color: black;
  width: 300px;
}

.Logo-image {
  height: 50px;
  width: 50px;
}

.TextPrincipal {
  font-size: x-large;
  color: white;
  font-weight: bold;
  padding: 7px;
}

.Color-Texto {
  color: white;
}

.TamañoIconos {
  height: 25px;
  width: 25px;
}

.TamañoIconos2 {
  height: 20px;
  width: 20px;
}
//Fin de las clases para el componente drawer

// Estilos para el contenedor principal
.flex-center {
  background: linear-gradient(var(--color-principal), $dark-page, $dark-page);
}

.my-card {
  width: 100%;
  max-width: 453px!important;
  height: 78px !important;
  background: linear-gradient(#343435, #342e3f) !important;
}
@media (min-width: 1501px) {
  .my-card {
    width: 100%;
    max-width: 375px !important;
  }
}

.Img-list {
  width: 76px !important;
  height: 78px !important;
}

.q-card__section--vert {
  padding: 0px !important;
}

.q-dark {
  background: transparent;
}

//Estilos del componente card para las listas sugeridas
.swg-TextoT {
  padding: 25px 0px;
  font-size: 17px;
  font-weight: bold;
}

.swg-ListaSugerida {
  width: 100%;
  max-width: 218px;
  height: 277px !important;
  background: #161717;
}

.swg-Image-list1 {
  width: 180px !important;
  height: 180px !important;
  margin-top: 15px;
  margin-left: 18px;
}

.swg-Color-Title {
  color: white;
  margin-top: 5px;
  margin-left: 16px;
}

.swg-TextMostrar {
  color: white;
  margin-top: 16px;
  margin-right: 35px!important;
  font-size: 13px;
}
@media (min-width: 1200px) {
  .swg-TextMostrar {
    margin-right: 245px!important;
  }
}

@media (min-width: 1500px) {
  .swg-TextMostrar {
    margin-right: 35px!important;
  }
}

.swg-TituloSub {
  margin-left: 16px;
}

.swg-SubTitulo {
  color: #565656;
  margin-left: 16px;
}

.swg-EtiqPrin {
  color: white;
  margin-left: 16px;
  font-weight: 900;
  font-size: 30px;
}

.q-card--dark {
  border-color: transparent !important;
  box-shadow: none !important;
}
//Fin de las clases del contenedor principal
