<template>
  <q-layout view="lHh Lpr Ff">
    <q-header elevated class="header-border">
      <q-toolbar>
        <q-toolbar-title>
          <!-- Se agregan las imagenes del lado izquierdo -->
          <q-img src="Imagenes/Menor1.png" class="header-image" />
          <q-img src="Imagenes/Mayor.png" class="header-image" />
        </q-toolbar-title>
        <div class="q-pa-md">
          <!--Inicio del button dropdown-->
          <q-btn-dropdown class="button-menu-dropdown" rounded>
            <template v-slot:label>
              <div class="row">
                <q-icon name="img:icons/user.png" class="icono-user" />
                <div class="text-center ocultar-contenedor">Claudia</div>
              </div>
            </template>
            <q-list dark bordered class="color-menu-dropdown">
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Cuenta</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon name="img:icons/IrAe.png" class="btn-ira" />
                </q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Configura tu plan Familiar</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon name="img:icons/IrAe.png" class="btn-ira" />
                </q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Perfil</q-item-label>
                </q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Preferencias</q-item-label>
                </q-item-section>
              </q-item>
              <q-separator dark />
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Cerrar Sesion</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
          <!--Fin del button dropdown-->
        </div>
      </q-toolbar>
    </q-header>

    <!-- Se crea el drawer izquierdo -->
    <div class="row">
      <div class="swg-drawer">
        <q-splitter v-model="splitterModel">
          <template v-slot:before>
            <q-drawer v-model="drawer" show-if-above class="Drawer-estile" breakpoint="400">
              <q-scroll-area class=" fit">
                <q-list padding class="menu-list">
                  <q-item-label header>
                    <q-img src="Imagenes/LogoS.png" class="Logo-image" />
                    <q-h1 class="TextPrincipal">Spotify</q-h1>
                  </q-item-label>
                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-icon name="img:icons/Inicio.png" class="TamañoIconos" />
                    </q-item-section>

                    <q-item-section class="Color-Texto">
                      Inicio
                    </q-item-section>
                  </q-item>

                  <q-item active clickable v-ripple>
                    <q-item-section avatar>
                      <q-icon name="img:icons/Busqueda.png" class="TamañoIconos" />
                    </q-item-section>

                    <q-item-section class="Color-Texto">
                      Buscar
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-icon name="img:icons/Biblioteca.png" class="TamañoIconos" />
                    </q-item-section>

                    <q-item-section class="Color-Texto">
                      Tu biblioteca
                    </q-item-section>
                  </q-item>

                  <br>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-icon name="img:icons/Mas.png" class="TamañoIconos2" />
                    </q-item-section>

                    <q-item-section class="Color-Texto">
                      Crear lista
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-icon name="img:icons/CorazonM.png" class="TamañoIconos2" />
                    </q-item-section>

                    <q-item-section class="Color-Texto">
                      Canciones que te gustan
                    </q-item-section>
                  </q-item>

                  <q-separator dark />

                  <q-item clickable v-ripple>
                    <q-item-section class="Color-Texto">
                      Mi lista n.° 57
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section class="Color-Texto">
                      Navideñas
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section class="Color-Texto">
                      Volver, Volver - En vivo
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section class="Color-Texto">
                      Mis pistas de Shazam
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section class="Color-Texto">
                      Mañanitas
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section class="Color-Texto">
                      Mis favoritos de siempre
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-icon name="img:icons/Instalar.png" class="TamañoIconos" />
                    </q-item-section>

                    <q-item-section class="Color-Texto">
                      Instalar app
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-scroll-area>
            </q-drawer>
          </template>
        </q-splitter>
      </div>
    </div>
    <q-page-container>
      <router-view />
    </q-page-container>
    <!--Inicio footer-->
    <q-footer class="style-footer text-white">
      <q-toolbar>
        <q-toolbar-title>
          <div class="footer-player">
            <!--Seccion 1-->
            <div class="row icon-top">
              <div><img src="icons/icono-musica.png" /></div>
              <div class="iconcorazon-s1">
                <img src="icons/corazon.png" />
                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                  <strong>Guardar en Tu Biblioteca</strong>
                </q-tooltip>
              </div>
            </div>
            <!--Fin Seccion 1-->
            <!--Seccion 2-->
            <div class="icon-top">
              <div class="row cold-sm-12">
                <div class="cont-1-aleatorio">
                  <img src="icons/aleatorio.png" />
                  <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                    <strong>Activar reproducción aleatoria</strong>
                  </q-tooltip>
                </div>
                <div class="cont-2-aleatorio">
                  <img src="icons/retroceder.png" />
                  <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                    <strong>Anterior</strong>
                  </q-tooltip>
                </div>
                <div class="cont-3-aleatorio">
                  <img src="icons/play-1.png" />
                  <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                    <strong>Reproducir</strong>
                  </q-tooltip>
                </div>
                <div class="cont-2-aleatorio">
                  <img src="icons/play.png" />
                  <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                    <strong>Siguiente</strong>
                  </q-tooltip>
                </div>
                <div class="cont-2-aleatorio">
                  <img src="icons/unica.png" />
                  <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                    <strong>Activar repetición</strong>
                  </q-tooltip>
                </div>
              </div>
              <div class="cold-sm-12 c-proceso">
                <img src="icons/proceso.png" />
              </div>
            </div>
            <!--Fin Seccion 2-->
            <!--Seccion 3-->
            <div class="row style-seccion-3">
              <div>
                <img src="icons/audio.png" />
                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                  <strong>Letras</strong>
                </q-tooltip>
              </div>
              <div class="s3-e-controls">
                <img src="icons/menu.png" />
                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                  <strong>Cola de reproducción</strong>
                </q-tooltip>
              </div>
              <div class="s3-e-controls">
                <img src="icons/reproc.png" />
                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                  <strong>Conectar a un dispositivo</strong>
                </q-tooltip>
              </div>
              <div class="s3-e-controls">
                <img src="icons/audio-2.png" />
                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                  <strong>Silenciar</strong>
                </q-tooltip>
              </div>
              <div class="s3-e-controls">
                <img src="icons/deplazar.png" />
                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                  <strong>Pantalla completa</strong>
                </q-tooltip>
              </div>
            </div>
            <!--Fin Seccion 3-->
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
    <!--Fin de footer-->
  </q-layout>
</template>

<script>
</script>
